# Node
node_modules/

# Environment files
.env*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
pm2.log

# PM2 runtime
.pids
*.pid
*.seed

# OS
.DS_Store
Thumbs.db

# Build (falls vorhanden)
dist/
build/

# Ignore real PM2 config
ecosystem.config.js

# Ignore ssh_login.txt
ssh_login.txt

# VS Code
.vscode/

# uploads
uploads/

psql-login.txt
