<link rel="stylesheet" href="/css/app-chrome.css">
<footer class="app-footer pb-4">
    <a href="/impressum?<%= new URLSearchParams({ returnTo: currentUrl || "/" }).toString() %>">Impressum</a>
    <span class="mx-2">·</span>
    <a href="/datenschutz?<%= new URLSearchParams({ returnTo: currentUrl || "/" }).toString() %>">Datenschutz</a>
</footer>
